﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.ConocimientoIndexModel


@{
    ViewBag.Title = "Index";
    //var x = 1;
    //for (var i = 10; i > 0; i--)
    //{
    //    x *= i;
    //}
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevos Conocimientos</h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Demanda</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var conocimiento in Model.Conocimientos)
                        {
                            <tr>
                                <td>@Model.Conocimientos.IndexOf(conocimiento)</td>
                                <td>@conocimiento.Nombre</td>
                                <td>@conocimiento.Demanda</td>
                                @*@foreach(var asesor in conocimiento.Asesores)
                                {
                                    <td>@asesor.Nombre</td>
                                }*@
                                <td>
                                    <a href="/Conocimiento/edit/?IdCategoria=@Model.IdCategoria&IdConocimiento=@Model.Conocimientos.IndexOf(conocimiento)" title="Editar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-edit"></i>Editar</label>
                                    </a>
                                    <a href="/Conocimiento/delete/?IdCategoria=@Model.IdCategoria&IdConocimiento=@Model.Conocimientos.IndexOf(conocimiento)" title="borrar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-remove"></i>Borrar</label>
                                    </a>
                                </td>
                                <td>
                                    <a href="../../Asesor/new/?IdCategoria=@Model.IdCategoria&IdConocimiento=@Model.Conocimientos.IndexOf(conocimiento)" title="Crear Asesor" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i>Crear Asesor</label>
                                    </a>
                                    <a href="../../Asesor/index/?IdCategoria=@Model.IdCategoria&IdConocimiento=@Model.Conocimientos.IndexOf(conocimiento)" title="Crear Asesor" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-plus"></i>Asesor</label>
                                    </a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="/Conocimiento/new/@Model.IdCategoria" title="Nuevo" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i>Nuevo</label>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}
