﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.AsesorIndexModel

@{
    ViewBag.Title = "Index";
    //var x = 1;
    //for (var i = 10; i > 0; i--)
    //{
    //    x *= i;
    //}
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevas Categorias</h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">Número</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Disponibilidad</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Idioma</th>
                            <th>País</th>
                        </tr>
                        @Html.HiddenFor(model => model.IdCategoria)
                        @Html.HiddenFor(model => model.IdCono)
                        @foreach (var asesor in Model.Asesores)
                        {
                            <tr>
                                <td>@Model.Asesores.IndexOf(asesor)</td>
                                <td>@asesor.Nombre</td>
                                <td>@asesor.Apellido</td>
                                <td>@asesor.Disponibilidad</td>
                                <td>@asesor.FechaNacimiento</td>
                                <td>@asesor.Idioma</td>
                                <td>@asesor.Pais</td>
                                @*<td>
                                    <a href="/Asesor/edit/?idCategoria=@Model.IdCategoria&IdCono=@Model.IdCono&idAsesor=@Model.Asesores.IndexOf(asesor)" title="Editar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                    </a>
                                    <a href="/Asesor/delete/?idCategoria=@Model.IdCategoria&IdCono=@Model.IdCono&idAsesor=@Model.Asesores.IndexOf(asesor)" title="Borrar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                                    </a>
                                </td>*@
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            @*<td>
                                <a href="/Asesor/new" title="Nuevo" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i>Nuevo</label>
                                </a>
                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}
