﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.NuevoEquipoSkillModel

@{
    ViewBag.Title = "Delete";
}


<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Borrar Conocimiento @Model.DescripcionSkill de @Model.NombreEquipo</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.IdEquipo)
                @Html.HiddenFor(model=>model.IdSkill)
                <div class="box-body">
                    <p>
                        ¿Estas seguro de Borrar el conocimiento "@Model.DescripcionSkill"?
                    </p>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Aceptar</button>
                    <a href="/Equipos/Skills/@Model.IdEquipo" class="btn btn-danger">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
