﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.NuevoInstructorModel


@{
    ViewBag.Title = "Edit";
}

@section head {
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Editar Instructor</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Edit", "Instructores", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Dni, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo" } })
                @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <div></div>
                    @Html.EditorFor(model => model.FechaNacimiento, new {htmlAttributes = new {@class = "form-control", required = "required", data_error = "Complete el campo"}})
                </div>
            </div>


        </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="~/instructores/" class="btn btn-primary">Cancelar</a>
                </div>
            }
        </div>
        <!-- /.box -->
    </div>

</div>
@section Scripts {
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/moment.js/locale/es.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('#FechaNacimiento').datetimepicker({
                locale: 'es',
                format: 'L'
            });
        });
    </script>
    
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(document).ready(function () {
            $('#myForm').validator()
        });

    </script>
}
